body, html {
    background: #d80000;
}

textarea {
	width:100%;
	height:150px;
	border-width:0;
	margin:0;
	padding:0;
}

input {
	float:left;
	height:48px;
	padding: 0 10px 0 10px;
	margin-top:10px;
	width:730px;
	font-size:28px;
	border-width:0;
}

#container {
    height: 800px;
    background: url("//static0.twilio.com/packages/twilio-conference/img/twiliocon-2012-bg.png") no-repeat center top;
}

#header {
    width: 960px;
    margin: 0 auto;
    padding: 100px 0 0 0;
}

#header .section-heading {
    line-height: 68px;
    margin: 0;
    padding: 0 0 0 233px;
    font-family: 'Helvetica',sans-serif;
    font-size: 52px;
    font-weight: 100;
    color: #FFF;
    text-align: center;
    background: url("//static0.twilio.com/packages/twilio-conference/img/twilio-logo-2012-header.png") no-repeat 148px center;
}

#content {
    width: 960px;
    margin: 0 auto;
    padding: 70px 0 0 0;
}

#content .section-heading {
    margin: 0 0 10px 0;
    font-family: 'Helvetica',sans-serif;
    font-size: 38px;
    font-weight: 100;
    color: #7C0000;
    text-align: center;
}

#content h4, .contact {
	font-family: 'Helvetica',sans-serif;
	text-align: center;
	margin: 0;
}

#content h4 {
	color: #7C0000;
	padding: 0;
}

.contact {
	color:#fff;
	font-weight:bold;
	font-size:18px;
	padding:5px 0 10px 0;
}

#content .blurb {
    line-height: 1.2em;
    margin: 5px 0 20px 85px;
    font-family: 'Helvetica',sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: #DDD;
}

#content .button {
    width: 200px;
	height:48px;
    float: right;
    margin-top: 10px;
    font-family: 'Helvetica',sans-serif;
    font-size: 24px;
    font-weight: 100;
    color: #454545;
    text-align: center;
    background-color: #EFEFEF;
    background: -webkit-gradient(linear, left top, left bottom, from(#efefef), to(#cccccc));
    background: -moz-linear-gradient(top, #efefef, #cccccc);
	border-width:0;
}

#content .button:hover {
    color: #222;
    background-color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(#dddddd));
    background: -moz-linear-gradient(top, white, #dddddd);
    border-top: 2px solid #FFF;
}

#content .button:active {
    color: #222;
    background-color: #FFF;
    background: -webkit-gradient(linear, left top, left bottom, from(#cccccc), to(#efefef));
    background: -moz-linear-gradient(top, #cccccc, #efefef);
    border-top: 2px solid #888;
    border-bottom: 1px solid #FFF;
}

.footer {
	clear:both;
    width: 960px;
    margin: 10px auto;
    padding: 10px 0 0 0;
    text-align: center;
    color: #7C0000;
}

.footer a {
    text-decoration: underline;
    color: #7C0000;
}

.footer a:hover {
    color: #FFF;
}